#feed-main {
  background-color: #121212; /* Spotify's background color */
  color: #fff; /* Text color, white for contrast */
  padding: 20px;
  height: 83%;
  /* border: 1px solid white */
}

#profile-button-container {
  display: flex;
  align-items: center;
  float: right;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.other-projects{
  /* border: 1px solid white; */
  height: 20%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.project-link-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid white;
  height: 35%;
  width: 30%;
  text-decoration: none;
  color: white;
  padding: 10px;
}


#social-link{
  border: 1px solid white;
  border-radius: 10px;
  width: 30%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 10px;
  gap: 10px;
  text-decoration: none;
  color: white;
}


.github{
  background: #6e5494;
}

.linkedin{
  background: #0078c7;
}



