#feed-main {
  background-color: #121212; /* Spotify's background color */
  color: #fff; /* Text color, white for contrast */
  padding: 20px;
  height: 83%;
  /* border: 1px solid white */
}

#profile-button-container {
  display: flex;
  align-items: center;
  float: right;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}




