#audio-footer-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    background-color: black;
    color: white;
    /* border-radius: 1px solid black; */
    width: 100vw;
    height: 10%;
    position: absolute;
    /* align-self: center; */
}

#audio-player{
    border: 1px solid white;
    /* height: 10px; */
    width: 100%;
}