#index-div{
    border: 1px solid white;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-box{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 40%;
    width: 15%;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

#card-image{
    border: 1px solid white;
    width: 150px;
    height: 30%;
    border-radius: 5px;
    height: 65%;
    margin-bottom: 10px;
}