#audio-footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100vw;
    height: 10%;
    position: absolute;
}

#audio-player{
    border: 1px solid white;
    /* height: 10px; */
    width: 100%;
}