#audio-footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828; /* Spotify's background color for controls */
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
}

#track-info {
  /* margin-bottom: 10px; */
}

#audio-player{
    border: 1px solid white;
    /* height: 10px; */
    width: 100%;
}


#controls-progress{
    height: 80%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.backwards-pause-forwards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  color: white;
}
.MuiButtonBase-root {
  padding: 6px; /* Adjust the padding around the IconButton */
  color: white;
}


button:disabled {
  color: #555555; /* Adjust the disabled button color */
}

.progress-bar-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.progress-bar-wrapper {
  flex-grow: 1;
  margin: 0 10px;
  cursor: pointer;
}


.progress-bar {
  height: 5px;
  background-color: #1db954; /* Spotify's green color */
  width: 0; /* Will be dynamically set based on the progress */
  transition: width 0.3s ease; /* Add a smooth transition effect */
}

h4 {
  font-size: 14px;
  margin: 0;
}