/* TODO Add site wide styles */
#home{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
    background-color: black;
    /* overflow: auto; */
}

#profile-button-container {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  margin: 10px;
}
