#track-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 50px;
    background-color: black;
    padding: 5px 10px 5px 10px;
    opacity: 2;
    /* color: white; */
}

#track-main:hover{
    background-color: white;
    opacity: 0.5;
    /* color: white; */
}

#track-main img{
    border: 1px solid white;
    height: 50%;
    width: 5%;
}