@font-face {
    font-family: 'Circular Spotify Bold';
    src: local('Circular Spotify Bold'), url(../styling/fonts/Circular_Spotify_Font/CircularSpotifyText-Bold.otf) format("opentype");
}




#profile-button{
    width: 40px;
    background-color: white;
}

.profile-dropdown{
    background-color: #282828;
}

.profile-dropdown li{
    margin-top: 5px;
    margin-bottom: 5px
}

.profile-dropdown li:hover{
    background-color: grey;
}