@font-face {
    font-family: 'Circular Spotify Bold';
    src: local('Circular Spotify Bold'), url(../styling/fonts/Circular_Spotify_Font/CircularSpotifyText-Bold.otf) format("opentype");
}




#profile-button{
    width: 40px;
    background-color: white;
}

.profile-dropdown{
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  right: 0;
  background-color: #1e1e1e; /* Spotify's background color */
  border: 1px solid #282828; /* Spotify's border color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px; /* Adjust the width as needed */
  z-index: 1000;
  color: white; /* Text color */
  font-size: 14px;
}

.profile-dropdown li{
  padding: 8px 0;
}

.profile-dropdown h4{
    margin-bottom: 5px;
}

.profile-dropdown hr {
  border: 0.5px solid #282828; /* Spotify's border color */
  margin: 8px 0;
}

.profile-dropdown a {
  text-decoration: none;
  color: white;
}

.profile-dropdown a:hover {
  text-decoration: underline;
}